body {
	font-family: "adobe garamond pro";
	padding-top: 50px;
    padding-bottom: 20px;
}
.main {
	width: 100%;
}
.container {
	max-width: 980px;
}
.img100 {
	width: 100%;
	height: auto;
}
.pd0 {
	padding: 0;
}
.mr0 {
	margin-left: 0px;
	margin-right: 0px;
}
.wrap-text {
	background-color: #323a43;
	color: white;
	padding-bottom: 80px;
	padding-top: 90px;
	text-align: center;
}
.wrap-text h1 {
	font-size: 62.5px;
	margin-top: 0px;
	margin-bottom: 25px;
}
.wrap-text h2 {
	font-size: 31.25px;
	font-style: italic;
	margin-bottom: 35px;
	margin-top: 40px;
}
.wrap-text p {
	font-size: 16.67px;
	line-height: 27px;
}
.max-height {
	max-height: 690px;
}
.hover-img {
	position: relative;
	cursor: pointer;
	display: inline-block;
}
.hover-img:before {
	content: "";
	display: block;
  	position: absolute;
  	top: 0;
  	bottom: 0;
  	left: 0;
  	right: 0;
  	background: rgba(16,33,24,0.5);
}
.hover-img:hover:before {
	background: rgba(89,78,68,0.5);
	display: block;
	-moz-transition: background .3s linear;
	 -webkit-transition: background .3s linear;
	 -o-transition: background .3s linear;
	 transition: background .3s linear;
}
.hover-img:hover h3 {
	font-size: 55px;
}
.wrap-text-title {
	color: white;
	position: absolute;
	text-align: center;
	top: 117px;
	width: 100%;
}
.wrap-text-title h3 {
	font-size: 52px;
}
@media only screen and (min-width: 768px) and (max-width: 959px) {
	.wrap-text-title {
		top: 70px;
	}
	.wrap-text-title h3 {
		font-size: 50px;
	}
	.hover-img:before {
		background: rgba(16,33,24,0.5);
	}
}
@media only screen and (min-width: 960px) and (max-width: 1240px) {
	.hover-img:before {
		background: rgba(16,33,24,0.5);
	}
	.wrap-text-title {
		top: 80px;
	}
}
/*portrait mobile*/
@media only screen and (min-width: 100px) and (max-width: 479px) {
	.wrap-text h1 {
		font-size: 60px;
		margin-top: 0px;
		margin-bottom: 20px;
	}
	.wrap-text h2 {
		font-size: 28px;
		margin-bottom: 30px;
		margin-top: 30px;
	}

	.wrap-text {
		padding-bottom: 35px;
	}
	.wrap-text .pd0 {
		padding-left: 15px;
		padding-right: 15px;
	}
	.wrap-text-title h3 {
		font-size: 45px;
	}
	.hover-img:before {
		background: rgba(16,33,24,0.5);
		padding-left: 15px;
		padding-right: 15px;
	}
	.wrap-text-title {
		top: 65px;
		left: 0;
		right: 0;
	}
}
/*lanscap mobile*/
@media only screen and (min-width: 480px) and (max-width: 767px) {
	.wrap-text h1 {
		font-size: 62px;
		margin-top: 0px;
		margin-bottom: 20px;
	}
	.wrap-text h2 {
		font-size: 27px;
		margin-bottom: 30px;
		margin-top: 30px;
	}
	.wrap-text {
		padding-bottom: 35px;
	}
	.wrap-text .pd0 {
		padding-left: 15px;
		padding-right: 15px;
	}
	.mr0 {
		text-align: center;
	}
	.wrap-text-title {
		top: 70px;
		left: 0;
		right: 0;
	}
}